@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root{
    --fuentePpal: 'Glory', sans-serif;
    --textoLogo: 'Gloria Hallelujah', cursive;
    --colorPpal: rgb(255, 196, 0);
}
main .promociones{
    font-family: var(--fuentePpal);
    text-align: center;
    font-size: 50px;
}

.offcanvas-body{
    background-color: rgb(0, 0, 0);
}
.navbar-dark .navbar-toggler{
    border: none;
    color: transparent;
}
.navbar-dark .navbar-toggler:visited{
    border: none;
}
.bg-dark{
    background-color: rgb(0, 0, 0) !important;
}
.navbar-brand{
    font-family: var(--textoLogo);
    color: var(--colorPpal) !important;
    font-size: 30px;
}
.navbar-dark .navbar-nav .nav-link{
    color: var(--colorPpal);
    font-family: var(--textoLogo);
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link{
    color: var(--colorPpal);
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(196, 150, 1);
  }

  .main-inicio{
    background-image: url("../IMG/imagen1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 115%;
    height: 600px;
    margin-bottom: 10px;
}

.texto-inicio{
    color: rgb(0, 0, 0);
    font-family: 'Acme';
    font-size: 4vh;
    text-shadow: 5px 5px 15px rgb(255, 214, 79);
    width: 100%;
    line-height: 1.3em;
    text-align: center;
    padding-top: 20px;
    

    animation-name: text-inicio;
    animation-duration: 2s;
    
}
@keyframes text-inicio {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

.titulo {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: var(--fuentePpal);
}

.bi-truck , .bi-credit-card-2-back, .bi-emoji-laughing{
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin: 5px;
}

.promo{
    border: solid 3px var(--colorPpal);
    margin: 10px 10px;

}

.card{
    border: none;
}

/* FOOTER */
.bi-facebook, .bi-instagram, .bi-twitter{
    padding-right: 30px;
    font-size: 30px;
    color: rgb(170, 170, 170);
    text-decoration: none;
    
}

.pie-redes a:link{
    color: rgb(199, 170, 77);
}
.pie-redes a:visited{
    color: rgb(199, 170, 77);
}
.bi-facebook:hover{
    color: rgb(83, 89, 179);
}
.bi-twitter:hover{
    color: rgb(107, 233, 255);
}
.bi-instagram:hover{
    color: rgb(184, 52, 196);
}

.pie-redes{
    font-size: 40px;
    text-align: center;
}

footer{
    width: 100%;
}

form{
    padding: 0 10%;
}

.form-control{
    border: solid 1px var(--colorPpal);
}

.formulario{
    border: solid 1px var(--colorPpal);
    margin: 30px;
}

form .enviar{
    text-align: center;
    margin-bottom: 30px;
}

.alto{
    height: 500px;
}

.fte-ppal{
    font-family: var(--fuentePpal);
}

/* ARTICULOS */
.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.1);
}
.seccion{
    padding-bottom: 60px;
}

.centrar{
    margin: auto;
    
}




@media screen and (min-width: 768px){
    main .texto-inicio{
        font-size: 50px;
    }

    form{
        padding: 0 20%;
        
    }
    .formulario{
        margin: 20px 200px;
    }

    .titulo{
        font-size:  50px;
    }
}

